<%= form_for @product, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :quantity_available %>
    <%= f.number_field :quantity_available %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <% if @product.image.attached? %>
      <%= image_tag @product.thumbnail, alt: 'Thumbnail' %>
      <%= image_tag @product.medium_image, alt: 'Medium Image' %>
      <%= image_tag @product.large_image, alt: 'Large Image' %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
