<%= form_with(url: search_products_path, method: :get, local: true) do |form| %>
            <div class="form-inline">
              <%= form.label :search, "Search Products", class: "sr-only" %>
              <%= form.text_field :search, class: "form-control mr-sm-2", placeholder: "Search", value: params[:search] %>
              <%= form.label :category_id, "Category", class: "sr-only" %>
              <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: "All Categories" }, { class: "form-control mr-sm-2" } %>
              <%= form.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
            </div>
          <% end %>